﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<action="/BMI/Index" form method="post" >
    身高 <input type="text" name="h" value="" />公分 <br />
    體重 <input type="text" name="w" value="" />公斤 <br />
    <input type="submit" value="送出" />
</form>
<br />

計算結果： @ViewBag.BMI <br />
等級： @ViewBag.level
